body{
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}

.header{
    width: 100%;
    height: 80px;
    background-color: #21C08B;
    display: flex;
    justify-content: space-between;
}

.header .header__img{
    width: 230px;
    margin: 5px 1%;
}

/* Boun section  *************************************************************************/

.box {
    width: 100%;
    height: 460px;
    float: top;
    background: linear-gradient(#21C08B, #8f57fd);
    overflow: hidden;
  }
  
  .text {
    text-align: center;
    margin-top: 56px;
    color: #fff;
    font-size: 150px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
  }
  .bounce {
    animation-name: bounce;
  }

  .informacion__error{
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

/* footer ********************************************************************************/
.footer{
    background-color: #8f57fd;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer a{
    color: white;
    font-family: 'Muli';
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding-left: 30px;
}

.footer a:hover{
    text-decoration: underline;
}

@media only screen and (max-width   : 600px){
  .footer{
      align-items: flex-start;
      flex-direction: column;
  }
}